/* General style */
* {
    box-sizing: border-box;
}

body {
    background: #292323;
    color: #adff2f;
    font-family: monospace;
    font-size: 10px;
}
    h1, h2, h3, p {
        margin: 0;
    }
    
    .container {
        text-align: center;
        padding: 0 1em;
    }

/* Title */
.title {
    padding: 1em 0;
}
    .title__text {
        font-size: 4em;
    }
