/* General style */
* {
    box-sizing: border-box;
}

body {
    background: #292323;
    color: #adff2f;
    font-family: monospace;
    font-size: 10px;
}
    h1, h2, h3, p {
        margin: 0;
    }
    
    .container {
        text-align: center;
        padding: 2em;
    }

/* Title */
.title__text {
    font-size: 4em;
}

/* Buttons */
.buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 3.5em 0;
}
    .buttons__btnBox {
        width: 10em;
    }
        .buttons__btnBox--button {
            border: none;
            outline: none;
            background: none;
            width: 100%;
            color: #fffafa;
            padding: 1.5em 0;
        }
            .buttons__btnBox--button:hover {
                color: #adff2f;
                cursor: pointer;
            }

            .buttons__btnBox .far {
                font-size: 4em;
            }

/* Picks */
.picks {
    padding-bottom: 4.5em;
}
    .picks__textBox {
        width: 30em;
        text-align: left;
        margin: 0 auto;
        padding-left: 8em;
    }
        .picks__textBox--text {
            font-size: 1.4em;
            line-height: 2;
        }

/* Headings */
.headings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 30em;
    margin: 0 auto;
    padding-bottom: 5em;
}
    .headings__titleBox {
        line-height: 1.6;
    }
        .headings__titleBox--name,
        .headings__titleBox--score {
            font-size: 2.5em;
        }
